<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/products">Products</a> |
    <a href="/products/add-product">Add Product</a>
    <a href="/cart">Cart</a>
  </nav>

  <div class="container">
    {{{body}}}
  </div>
</body>
</html>
