<h2>Create Password</h2>

{{#if errorMessage}}
  <aside class="error-message">
    <h4>{{errorMessage}}</h4>
  </aside>
{{/if}}

<form method="POST" action="/api/createPassword">
  <input type="hidden" name="email" value="{{email}}">

  <section>
    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" required aria-label="New Password">
  </section>

  <section>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required aria-label="Confirm Password">
  </section>

  <button type="submit">Set Password</button>
</form>
